<div class="card">
  <p-pickList #pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="NON_INVENTORIE" targetHeader="INVENTORIE"
    [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }"
    filterBy="Designation" sourceFilterPlaceholder="Rechercher par nom" targetFilterPlaceholder="Rechercher par nom"
    breakpoint="1400px" (onMoveToTarget)="onItemMoved($event)" (onMoveToSource)="onItemMovedToSource($event)"
    [showSourceControls]="disbale" [showTargetControls]='disbale'>
    <ng-template let-product pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ product.Designation }}</span>
          <div class="flex align-products-center gap-2">
            <i class="pi pi-tag text-sm"></i>
          </div>
        </div>
        <span class="font-bold text-900">{{ product.PrixVenteTTC + ' FCFA' }}</span>
      </div>
    </ng-template>
  </p-pickList>
</div>


<div class="card flex justify-content-center">
  <p-dialog header="Mise à jour" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }" (onHide)="cancel()"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="body">
      <form [formGroup]="updateForm" class="space-y-4 md:space-y-6" >
        <div class="form-group">
          <label for="CARTON" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantité Carton :</label>
          <input class="form-control" formControlName='CARTON' type="number" id="CARTON" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div>
          <label for="PIECE" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantité Piéce</label>
          <input type="number" formControlName='PIECE' name="PIECE" id="PIECE"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required="">

        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="onUpdate()" label="Mettre à jour" pAutoFocus [autofocus]="true"></p-button>
    </ng-template>
  </p-dialog>
</div>
