<div class="card">
  <p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Available" targetHeader="Selected"
    [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }"
    filterBy="name" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name"
    breakpoint="1400px" (onMoveToTarget)="onItemMoved($event)">
    <!-- <ng-template let-product pTemplate="item">
          <div class="flex flex-wrap p-2 align-items-center gap-3">
              <img class="w-4rem shadow-2 flex-shrink-0 border-round" src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" alt="{item.name}" />
              <div class="flex-1 flex flex-column gap-2">
                  <span class="font-bold">{{ product.name }}</span>
                  <div class="flex align-products-center gap-2">
                      <i class="pi pi-tag text-sm"></i>
                      <span>{{ product.category }}</span>
                  </div>
              </div>
              <span class="font-bold text-900">{{ '$' + product.price }}</span>
          </div>
      </ng-template> -->
    <ng-template let-product pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <img class="w-4rem shadow-2 flex-shrink-0 border-round"
          src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" alt="{item.name}" />
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ product.name }}</span>
          <div class="flex align-products-center gap-2">
            <i class="pi pi-tag text-sm"></i>
            <span>{{ product.category }}</span>
          </div>
        </div>
        <span class="font-bold text-900">{{ '$' + product.price }}</span>
      </div>
    </ng-template>
  </p-pickList>
</div>


<div class="card flex justify-content-center">
  <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }" (onHide)="cancel()"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="body">

      <div>
        <label for="newCategory">Nouvelle catégorie :</label>
        <input type="text" id="newCategory" [(ngModel)]="newCategory" />
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="submitCategory()" label="Ok" pAutoFocus [autofocus]="true"></p-button>
    </ng-template>
  </p-dialog>
</div>